@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
.body{
  background-color: var(--bgColor);
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;

}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
}

img{
  width: 20%;
  height: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: var(--textColor);
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}
  
.container{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .header {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        .tiltle{
            font-weight: bold;
            color: var(--bgColor);
        }
    }
    .navbar{
        width: 100%;
        height: 40px;
        background-color: var(--bgColor);
        .list-menu{
            margin-left: 4rem;
            .tabs{  
                width: 150px;
                height: 100%;
                border: none;
                padding: 10px;
                color: var(--white-color);
                background-color: var(--bgColor);
                font-weight: bold;
                &:hover{
                    color: var(--bgColor);
                    cursor: pointer;
                    background-color: var(--textColor);
                }
                box-shadow: -1px 0 1px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(255, 255, 255, 0.5);
            }
        }
    }
    .content{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 1000px;
        padding: 2rem 4rem;
        .description-info{
            width: 70%;
            height: 100%;
            
            .main-content{
                margin: 2rem;
                .content-title{
                    font-size: var(--h2FontSize);
                    color: var(--bgColor);
                    text-transform: uppercase;
                }
                .description{
                    width: 600px;
                    margin-bottom: 2rem;
                    .small-description{
                        margin-top: 1rem;
                    }
                    .job-table{
                        margin-top: 2rem;
                        width: 650px;
                        height: 300px;
                        .title-line{
                            margin-left: 50px;
                            background-color: var(--bgColor);
                            color: var(--white-color);
                            padding-left: 10px;
                            text-align: left ;
                        }
                        .line{
                            padding-left: 10px;
                        }
                        .line2{
                            padding-left: 10px;
                            background-color: var(--textColor);
                        }
                    }
                }
            }
        }
        .information{
            overflow: hidden;
            width: 30%;
            height: 100%;
            background-color: var(--introduceBg);
            .overview{
                height: 40%;
                margin-bottom: 1rem;
                .avt{
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    margin: 2rem 2rem 0 5rem;
                }
                .name{
                    font-size: var(--h1FontSize);
                    color: var(--bgColor);
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .job{
                    font-size: var(--h2FontSize);
                    color: var(--bgColor);
                    text-align: center;
                }
            }
            
            .main-info{
                height: 15%;
                margin-top: 20px;
                .infor-tags{
                    width: 40%;
                    height: 100%;
                    font-size: var(--h3FontSize);
                    margin-left: 15px;
                    gap: 1rem;
                }
                .infor{
                    width: 60%;
                    height: 100%;
                    margin-left: 15px;
                    font-size: var(--h3FontSize);
                    gap: 1rem;
                }
            }
            .introduce{
                margin: 1rem;
                height: 40%;
                border: 1px solid var(--black-color);
                .title{
                    font-size: var(--h2FontSize);
                    color: var(--bgColor);
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                    margin-left: 0.5rem;
                    text-transform: uppercase;
                }
                .description{
                    font-size: var(--smallFontSize);
                    display: flex;
                    overflow: hidden;
                    margin-left: 0.5rem;
                    margin-top: 10px;
                }
                .list-contact{
                    .contact{
                        margin-left: 30%;
                        list-style:circle;
                    }
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: 200px;
        background-color: var(--bgColor);
        padding: 2rem 4rem;
        color: var(--white-color);
    }
}

:root{
    --PrimaryColor: #E1853D;
    --white-color: white;
    --black-color: black;
    --textColor:#B9CED9;
    --bgColor:#1A5395;
    --introduceBg: #C7DCF4;
  
    --biggest-font-size: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem; 
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
  }